/* You can add global styles to this file, and also import other style files */
body {
    background: aliceblue;
}

.nav-link {
    color: black;
}

.nav {
    background:#d9e9f7;
}

.header {
    margin-top: 2%;
}